<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBR4LYkAb37M9zbHP_C2pyTvlf38VeMd8o</string>
	<key>GCM_SENDER_ID</key>
	<string>1056052903221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.placement</string>
	<key>PROJECT_ID</key>
	<string>placement-gcxahj</string>
	<key>STORAGE_BUCKET</key>
	<string>placement-gcxahj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056052903221:ios:5cd46f7f75720f63a2207c</string>
</dict>
</plist>